#html-body {
    background-color: #FFD56F;
}

.navigation-bar {
    display: flex;
    justify-content: space-between;
    padding: 2vh 5vw;
    background-color: #FFB26B;
}

.navigation-bar > a {
    text-decoration: none;
    color: white;
    font-family: serif;
    padding: 1vh 4vw;
    background-color: #939B62;
    border: medium solid black;
}

.main-page-centered-content {
    display: flex;
    flex-direction: column;
    padding: 4vh 4vw;
    margin: 2vh 2vw;
    row-gap: 50%;
    height: 80vh;
    background-color: #FF7B54;
}

#main-heading-container {
    text-align: center;
    color: white;
    padding: 3vh;
    margin: auto 0;
    font-family: Franklin Gothic Medium;
    background-color: #939B62;
    border: medium solid black;
}

.title-list-pair {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    border: medium solid black;
}

.title-list-pair > h2 {
    text-align: center;
    margin: 0;
    color: white;
    font-family: serif;
    background-color: #939B62;
    padding: 1vh 1vw;
}

.title-list-pair > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
    font-family: serif;
    margin: auto 0;
    padding: 5vh 2vw;
    list-style-position:inside;
    list-style: none;
    background-color: #FFB26B;
}

.title-list-pair > ul > a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 5vh;
    width: 15vw;
    color: white;
    background-color: #939B62;
    border: medium solid black;
}