#html-body {
    background-color: #FFD56F;
}

.navigation-bar {
    display: flex;
    justify-content: space-between;
    padding: 2vh 5vw;
    background-color: #FFB26B;
}

.navigation-bar > a {
    text-decoration: none;
    color: white;
    font-family: serif;
    padding: 1vh 4vw;
    background-color: #939B62;
    border: medium solid black;

}

.fieldset-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vh 0;
    background-color: #FF7B54;
}

fieldset {
    padding: 0%;
}

legend {
    position: relative;
    border: medium solid black;

}

.main-page-container {
    background-color: #FFB26B;
    display: flex;
    margin-top: -2vh;
    flex-flow: column;
    align-items: center;
    row-gap: 5vh;
    width: 80vw;
    padding: 4vh 4vw;
}

fieldset > legend {
    text-align: center;
    padding: 1vh 0;
    width: 50%;
    color: white;
    font-family: serif;
    background-color: #939B62;
}

.title-input-pair {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 5vh;
    width: 30vw;
    background-color: #939B62;
    border: medium solid black;
}

.title-input-pair > label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2vh;
    color: white;
    background-color: #939B62;
    margin: auto 0;
}

.title-input-pair > .input-field {
    font-size: large;
    height: 2vh;
}

.title-text-area-pair {
    display: flex;
    flex-direction: column;
    background-color: #939B62;
    border: medium solid black;
}

.title-text-area-pair > label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
    color: white;
    margin: auto;
    background-color: #939B62;
}

.title-text-area-pair > textarea {
    object-fit: fill;
}

.horizontal-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30vw;
}

.vertical-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.vertical-group > label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vh;
    width: 100%;
    border: medium solid black;
    color: white;
    text-align: center;
    background-color: #939B62;
}

input[type='checkbox'] {
    width: 2vw;
    height: 2vh;
}

input[type='date'] {
    height: 2vh;
    width: 100%;
    border: medium solid black;
}

button[type='submit'] {
    width: 30vw;
    height: 5vh;
    background: #939B62;
	color: white;
    outline-style: outset;
    outline-color: black;
}